dist-electron/
dist/
.next/
node_modules/
.DS_Store
.env*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo/
out/
build/
.pnpm-debug.log*
**/certificates/
storybook-static/
.vscode/
.idea/
*.tsbuildinfo
